In [1]:
2+3

5

In [1]:
str1 = "Hello"
str2 = "there"

In [2]:
bob = str1+ str2
print(bob)

Hellothere

In [3]:
fruit = 'banana'
x = len(fruit)
print(x)

6

In [4]:
fruit = 'banana'
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(index, letter)
    index = index+1

0 b
1 a
2 n
3 a
4 n
5 a

In [5]:
fruit = 'banana'
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [6]:
word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
        count=count+1
    print(count)

0
1
1
2
2
3

In [8]:
def print_even(n):
    i=0
    while(i<n):
        if(i%2==0):
            print(i)
        i+=1

In [11]:
print_even(0)

In [74]:
import math
def compound_interest(principle, rate, years):
    # This is where you code go.
    # compute comp_interest
    comp_intrest=principle*(math.pow((1+rate/100),years))-principle
    return comp_intrest

In [8]:
def sum_func(a):
    if type(a)!=int or a<0:
        return -1
    if type(a)==int and a>=0:
        return sum(range(0,(a+1)))

In [9]:
sum_func(10)

55

In [10]:
sum_func(1)

1

In [12]:
def special_func(num):
    total=0
    if(type(num)!= int or num<=0):
        total=-10
        return total
    else:
        if(num>0):
            i=1
            for i in range(1,(num+1)):
                if num%i==0 and i%2==1:
                    total=total+i
        return total

In [13]:
special_func(12)

4

In [14]:
special_func(15)

24

In [35]:
def str_func(arg):
    return arg[-1]

def sum_str_func(arg1):
    n = [int(x) for x in str(arg1)]
    result = sum(n)
    return result

In [36]:
sum_str_func('1234')

10

In [47]:
def slicing_func(st):
    print(st[2:])

In [48]:
slicing_func("Hello World")

llo World

In [53]:
a = "cloudxlab"
a[1] = 'm'

TypeError: 'str' object does not support item assignment

In [71]:
#tried my best and it worked:
def email_func(mail):
    a=mail.find('@')
    if a>-1:
        b=mail.find(" ",a)
        c=mail[0:b].split()
        d=c[-1]
        print(d)
    else:
        return None

In [78]:
print('%d+3' % 3)

3+3

In [79]:
a = [12, 3.4, 34, 'cloudxlab', [2.3, 1.4]]

In [80]:
print(3 in a)
print('cloudx lab' in a)

False
False

In [1]:
a = [23,12,32,1,2,34,56]
a.append(12)
print(a[len(a)-2])

56

In [2]:
a.extend(a)
sum(a)

344

In [3]:
a.sort()
print(a[2] + a[7])

14

In [4]:
list = [12,23,43,[2,4,5], 2, 4,5]
list.pop(3)
sum(list)

89

In [5]:
list = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list[:]
print(len(list))

0

In [1]:
def str_list_func(arg):
    a=arg.split()
    b=len(a)
    d=""
    newword=[]
    for word in a:
        if len(word)>1:
            c=word[-1:]+word[1:-1]+word[:1]
            newword.append(c)
        else:
            c=(word[0])
            newword.append(c)
            #newword.join()
    listToStr = ' '.join(map(str, newword))
    print(listToStr)
str_list_func('I am Gold')

I ma dolG

In [2]:
str_list_func('I am learning Python at CloudxLab')

I ma gearninl nythoP ta bloudxLaC

In [46]:
def file_read_func(str):
    try:
        fhand=open(str,'r')
        count=0
        inp=fhand.read()
        a=len(inp)
        for i in inp:
            if(i.isspace()):
                count=count+1
        f=a-count
        return f
    except:
        return -1

In [47]:
file_read_func("/cxldata/python_sample_file")

65

In [51]:
check = 0
with open("/cxldata/python_sample_file") as f:
    for line in f:
        if(line.startswith('w')):
            check = check + 1
print(check)

0

In [53]:
f=open('python_file_writing.txt','w')
f.write("I am learning Python at CloudxLab.")

34

In [54]:
pwd

'/home/cpandey19996266/cloudxlab_jupyter_notebooks'